@page
@model MenuModel
@{
    ViewData["Title"] = "9 tasks for f sake";
}

<h1>Pick you Poison</h1>


<ul class="drinks">
    <h1>drinks</h1>
    @foreach(var info in Model.DrinksInfo){
        <li>@info</li>
    }
</ul>

<style>
    .drinks {
        background: lightcyan;
        border: 10px dashed lightseagreen;
        border-radius: 10px;

        a {
            text-decoration: none;
            color: black;
        }
    }
</style>